@import "~bootstrap/dist/css/bootstrap.css";

body {
  margin: 25px;
  }
.grid-container {
  grid-row-gap: 50px;
}

select.ng-invalid {
  border: 1px solid red;
}

mat-form-field {
  margin-right: 12px;
}
