<html>
  <head>

  </head>
  <body>
    <form>
      <div class="row">
        <div class="grid-container">
        <label for="date1">start date</label>
        <input type="text" class="form-control" id = "date1"
            uib-datepicker-popup="yyyy-MM-dd" datepicker-options="datepickerOptions"
            ng-model="myDate" is-open="isDatepickerOpen">

        <label for="date2">end date</label>
        <input type="text" class="form-control" id = "date2"
            uib-datepicker-popup="yyyy-MM-dd" datepicker-options="datepickerOptions"
            ng-model="myDate" is-open="isDatepickerOpen">

        <div class="form-group">
              <span class="input-group-addon"> X Label </span>
              <select name="x" class="selectpicker form-control">
                <option value="Choose">Choose</option>
                <option [value]="i" *ngFor="let i of x">{{i}}</option>
              </select>
              <span class="input-group-addon"> Y Label</span>
              <select name="y" class="selectpicker form-control">
                <option value="Choose">Choose</option>
                <option [value]="i" *ngFor="let i of x">{{i}}</option>
              </select>
              <span class="input-group-addon"> Bins</span>
              <select name="bins" class="selectpicker form-control">
                <option value="Choose">Choose</option>
                <option [value]="i" *ngFor="let i of x">{{i}}</option>
              </select>
              <div class="form-group row">
                <div class="col-sm-10">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </div>
          </div>
        </div>
      </div>
    </form>
  </body>

</html>


