<html>
  <head>

  </head>
  <body>
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="row">
      <label>Start Date</label>
        <div class="grid-container">
          <mat-form-field color="accent" >
            <mat-label></mat-label>
            <input ngModel name="startDate" matInput [matDatepicker]="picker1">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
      <label>End Date</label>
          <mat-form-field color="accent" >
            <mat-label></mat-label>
            <input ngModel name="endDate" matInput [matDatepicker]="picker2">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2 color="primary"></mat-datepicker>
          </mat-form-field>

        <div class="form-group">
              <span class="input-group-addon"> X Label </span>
              <select name="x" class="selectpicker form-control" required ngModel name="x">
                <option [value]="i" *ngFor="let i of x">{{i}} </option>
              </select>
              <span class="input-group-addon"> Y Label</span>
              <select name="y" class="selectpicker form-control" required ngModel name="y">
                <option [value]="i" *ngFor="let i of y">{{i}}</option>
              </select>
              <span class="input-group-addon"> Bins</span>
              <select name="bins" class="selectpicker form-control" ngModel name="bins">
                <option [value]="i" *ngFor="let i of x">{{i}}</option>
              </select>
              <div class="form-group row">
                <div class="col-sm-10">
                  <button type="submit" [disabled]="!f.valid" class="btn btn-primary">Submit</button>
                </div>
              </div>
          </div>
        </div>
      </div>
    </form>
  </body>

</html>


